.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap
}

.tasks-tab-container {
    list-style: none;
    display: flex;
    align-items: center;
    /* gap: 26px; */
}

.date {
    color: white;
    font-weight: bold;

}

.active-tasks-count {
    color: rgb(157, 255, 0);
    font-weight: 600;
}

.tasks-tab-btn {
    color: #ffffff60;
    background-color: transparent;


}

.navLink {
    color: #ffffff60;
    text-decoration: none;
}

.tasks-btn {
    margin-right: 16px;
    padding: 6px;
    font-size: 16px;
}

@media screen and (max-width:540px) {
    .tasks-btn {
        font-size: 12px;
        padding: 5px;
        flex-shrink: 3;
        border: none;
        line-height: 0px;
    }



}